@charset "UTF-8";

:root{
    --cor1: #826151;
    --cor2: #423229;
    --cor3: #C39279;
    --cor4: #CF9A80;
    --cor5: #A87E68;


}

table{
    width: 700px;
    border-collapse: collapse;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.493);
}
td{
    border: 1px solid rgb(172, 172, 172);
    padding: 8px;
    background-color: white;
}
nav{
    margin-top: 100px;
}
.bindex{
    background-image: linear-gradient(to top, var(--cor2), var(--cor4));
}
.hindex > p{
    font-size: 1.4em;
}
.hindex a{
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    padding: 8px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
}
.hindex a:hover{
    background-color: rgba(255, 255, 255, 0.527);
    transition: 0.4s;
}
.hindex{
    background-image: url(escocia.jpg);
    height: 440px;
    background-size: cover;
    background-position: center center;
    text-align: center;
    color:white;
    

}
.hindex > h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px ;
    margin-top: 10px;
    
}
.mindex{
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    background-color:var(--cor4);
    border-radius: 10px;
    max-width: 1200px;
    text-align: center;
    line-height: 30px;
    font-size: 1.7em;
    margin: auto;
    
    
}
.mindex h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--cor2);
    width: 250px;
    color: white;
    border-radius: 8px;
    margin: auto;
    margin-top: 1px;
    padding: 20px;
}






.hpassaport{
    background-image: url(pexels-bridgid-johnston-7103949.jpg);
    height: 400px;
    background-size: cover;
    background-position: center center;

    text-align: center;

}
.hpassaport > h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:0;
    font-size: 80px;
    color: var(--cor1);
}
.hpassaport > nav > a {
    text-decoration: none;
    width: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 8px;
    padding: 8px;
    font-size: 1.4em;
    margin-top: 30px;
}
.hpassaport > nav > a:hover{
    background-color: #A87E68;
    transition: 0.4s;
}
picture > img{
    max-width: 700px;
    min-width: 280px;
    display: block;
    margin: auto;

}
.hpassaport > p{
    font-size: 1.9em;
    color: white;
    background-color: rgba(0, 0, 0, 0.438);
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    margin: auto;
    margin-top: 80px;
}
.bpassaport{
   background-image: linear-gradient(to top, var(--cor2), var(--cor4));
    
}
.mpassaport{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor3);
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    border-radius: 10px;
}
.mpassaport{
    text-align: center;
    line-height: 40px;
    font-size: 1.7em;
}




.bfinanceiro{
    background-image: linear-gradient(to top, var(--cor2), var(--cor5))
}
.hfinanceiro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(pexels-s-migaj-1184000\ \(1\).png);
    background-size: cover;
    background-position: center ;
    height: 350px;
    padding-top: 0;
    font-size: 30px;
    color: var(--cor1);

}
.hfinanceiro > h1{
    text-align: center;
}



.mfinanceiro{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: auto;
    line-height: 40px;
    font-size: 1.7em;
    background-color: #CF9A80;
    padding: 10px;
    border-radius: 10px;
}
#container{
    overflow-x: auto;
}

.hfinanceiro > nav a{
    text-decoration: none;
    width: 100px;
    color: rgba(255, 255, 255, 0.664);
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 8px;
    padding: 6px;
    font-size: 1.1em;
    
}
.hfinanceiro > nav> a:hover{
    transition: 0.4s;
    background-color: #C39279;
}
.hfinanceiro > nav{
   text-align: right;
   margin-top: 150px;
}





.bconceitos{
    background-image: linear-gradient( var(--cor2), var(--cor3));
}
   
.hconceitos{
    height: 400px;
    background-image: url(escocia4s.jpg);
    background-size: cover;
    background-position: center ;
    text-align: center;
}
.hconceitos > h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    color: var(--cor1);

}
.hconceitos > nav{
    margin-top: 210px;
    text-align: right;
}
.hconceitos > nav > a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.459);
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.466);
    border-radius: 8px;
}
.hconceitos > nav > a:hover{
    transition: 0.4s;
    background-color: var(--cor3);
}
picture > img{
    max-width: 600px;
    min-width: 280px;
    display: block;
    margin: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61);
}

.mconceitos{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--cor4);
    padding: 20px;
    line-height: 40px;
    font-size: 1.7em;
    border-radius: 10px;
}
.mconceitos h2{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
    background-color: var(--cor2);
    color: white;
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    margin: auto;
}